
$page-width: 1440px;
$main-color: #000000;
$sub-color: #FFFFFF;

 
html, body, div, ul, li {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  max-width: $page-width;
 

}
html{
  height: 100%;
}
a {
  text-decoration: none;
  color: $main-color;
}
img {
  max-width: 100%;
  height: auto;
}

 html{
   //height: 100vh;
  box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }     