
@import 'fonts';
@import 'hover';

/*HEADER LINE - START*/

.pgWrapper{
  max-width: $page-width;
}
.header_line{
  height: 24px;
  background-color:#FFF;
}
.header___line-wrap{
  height: inherit;
  padding-left: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__line-item1{
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.8px;
  color: $main-color;
}
.header__line-item2{
  font-style: normal;
  font-size: 10px;
  letter-spacing: 0.083px;
  color: $main-color;
  background: url(/src/assets/Shape.png) no-repeat left;
  padding-left: 14px;
}

/*HEADER LINE - END*/


/* STICKY-MENU START */

.header {
  height: 140px;
  padding-left: 24px;
  padding-bottom: 0px;
  top: 0px;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.225) 14.31%, rgba(27, 27, 27, 0.1175) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
  color: $sub-color;
  mix-blend-mode: normal;
  transition: .2s linear;
  &:hover{
    padding-left: 24px;
    padding-bottom: 0px;
    background: $sub-color;
    color: $main-color;
    letter-spacing: 0.95px;
    a {
      color: $main-color;
    }
    .reg{
      background: url(../assets/basketBl.png) no-repeat  right;
      background-size: 11px;
      border-left: 2px solid $main-color
    }
    .header_menu-input{
      
      border-radius: 3px 0px 0px 3px;
      border: 1px solid #E1E0E1;
      background: rgba(247, 247, 247, 0.24);
      outline: none;
      color: $sub-color;
      &::placeholder{
        color: $main-color;
        background: url(/src/assets/searchIconBlack.png) no-repeat right;
        background-size: 16px;
      }
      &:focus{
        border: 1px solid #E1E0E1;
        color: $main-color;
        border-right: none;
      } 
    }
    .header_menu-submit{
      height: 56px;
      border: 1px solid #E1E0E1;
      border-radius: 0px 3px 3px 0px;
      border-left: none;
    }
  }
}
.header_menu{
  width: 100%;
  min-width: 220px;
  padding: 0 auto;
  text-align: center;
}
.navbar {
  max-width: 800px;
  height: 68px;
  text-align: center;
  //align-items: center;
  //overflow: hidden; 
   li {
    list-style-type: none;
    float: left;
    padding: 0px 15px;
    a {
      text-align: center;
      text-decoration: none;
      color: $sub-color;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-left: 5px;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    }
  }
}
.header_menu-input{
  flex: 1 1 auto;
  width: 100%;
  max-width: 568px;
  min-width: 0;
  height: 48px;
  margin-right: 0px;
  padding: 0px 16px;
  mix-blend-mode: normal;
  border-radius: 3px;
  border: 0px;
  background: rgba(247, 247, 247, 0.24);

  &::placeholder{
    background: url(/src/assets/searchIcon.png) no-repeat right ;
    background-size: 16.7px 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: $sub-color;
  }
  &:focus{
    outline: none;
    color: $sub-color;
  }
}
.subIcon{
  color: rgba(0, 0, 0, 0.0001);
  width: 16px;
  height: 16px;
  background: url(../assets/searchIcon.png) no-repeat center;
  background-size: cover;
}
.signIn{
  padding-right: 25px;
  & li{
    padding-top: 0px;
    height: 5px;
    display: block;
    float: left;
    list-style-type: none;
  }
  & li a{
    margin: 0%;
    padding: 0px 4px;
    text-decoration: none;
    color: $sub-color;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  }
  & .reg{
    padding-right: 30px;
    background: url(/src/assets/ssss.png) no-repeat right;
    background-size: 11px;
    border-left: 2px solid $sub-color;
    padding-right: 20px;
  }
}
.header_wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  text-align: center;
  
  justify-content: space-between;
  padding: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.95px;
}
  // .sticky {
  //   position: fixed;
//   opacity: 1;
//   top: 0;
//   width: 1440px;
//   background-color: white;
//   color: #000000;
// }
// .sticky + .content {
//   padding-top: 102px;
  // }
.header_logo{
  width: 141px;
  height: 57px;
  margin-top: 0px;
  padding-top: 5px;
}

/* STICKY-MENU END */


/* MAIN SECTION - START */

.intro{
  height: 756px;
  position: relative;
  background: url(../assets/first.jpg) no-repeat center;
  background-size: cover;
}

/* MAIN SECTION - END */


/* BOTTOM-MENU - START */

.footer {
  //padding: 0px 200px 0px 200px;
  background: red;
  
}
.contInfo{
  //height: 197px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}
.footer__menu {
  width: 150px;
  margin-left: 5px;
  list-style-type: none;
  padding-right: 0px;
}
.footer__menu-header {
  font-family: Garamond;
  font-weight: bold;
  font-size: 16px;
  //line-height: 19px;
  letter-spacing: 1.16364px;
  color: $main-color;
  margin-bottom: 17px;
  margin-top: 0%;
}








.insta{
  float: left;
  margin: 0px;
  margin-right: 16px;
  padding: 0px;
  width: 16px;
  height: 16px;
  background: url("/src/assets/insta.png") no-repeat;
}
.twitter{
  float: left;
  margin-right: 16px;
  padding: 0px;
  width: 16px;
  height: 16px;
  background: url("/src/assets/twitter.png") no-repeat;
}
.snapchat{
  float: left;
  margin-right: 16px;
  padding: 0px;
  width: 16px;
  height: 16px;
  background: url("/src/assets/snapchat.png") no-repeat;
}
.facebook{
  float: left;
  margin-right: 10px;
  padding: 0px;
  width: 16px;
  height: 16px;
  background: url("/src/assets/facebook.png") no-repeat;
}
.youtube{
  float: left;
  margin-right: 0px;
  padding: 0px;
  width: 20px;
  height: 16px;
  background: url("/src/assets/youtube.png") no-repeat;
}

/* BOTTOM-MENU - END */


/* CONTENT - START */

.content-container{
  height: auto;
  margin-bottom: 0px;
  padding: 20px 0px 20px 0px;
  background: $sub-color;
  position:absolute;
  bottom: 0px;                           
  left: 0px;
  right: 0px;
}
.content_search-form-wrap{
  max-width: 445px;
  height: 82px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  display: block;
  background: $sub-color;
  border: 0px;
}
.content_text{
  max-width: 439px;
  margin-bottom: 14px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0.872727px;
  color: $main-color;
}
.search-form_field{
  width: 334px;
  height: 32px;
  padding: 8px 203px 7px 11px;
  margin-right: 0px;
  background-color: transparent;
  border: 1px solid #E1E0E1;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: #4A4A4A;
  &::placeholder{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #4A4A4A;
  }
}
.search-form_submit{
  width: 94px;
  height: 32px;
  padding: 0px;
  padding: 5px 20px 5px 20px;
  margin-left: 12px;
  margin-right: 0px;
  border: 0px;
  background: $main-color;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $sub-color;
}
.search-form_info{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

/* CONTENT - END */


/*HELLO - START*/

.hello_text{
  padding-top: 180px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  color: $sub-color;
}

/*HELLO - START*/


/* BOTTOM-LINE - START */

.bottom-container{
  // margin: 0px auto;
  //width: $page-width;
  bottom: 0%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  background: #F7F7F7;
  color: $main-color;
}

/* BOTTOM-LINE - END */


/*MEDIA*/


 @media screen and (max-width: 300px){
   .navbar{
     display: none;
   }
   .header_menu-input{
     //width: 100%;
   }

 }


 /*
 @media screen and (max-width: 880px){
   .navbar{
     display: none;
   }
 }
 @media screen and (max-width: 790px){
     //display: none;
   
   .navbar{
     display: none;
   }
 }
 @media screen and (max-width: 710px){
   .header_menu-input, .header_menu-submit, .navbar, .hello_text{
     display: none;
   }
   body{
     //max-width: 375px;
   }
 }
 */
 

